{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}
<div id="mws-error-container">
                	<div id="mws-error-code">
                		<h1>Error <span>404</span></h1>
                    </div>
                    <p id="mws-error-message">Lo Sentimos! El recurso al que estas queriendo acceder, 
                        no esta disponible. Si crees que no deberias estar viendo este mensaje, 
                        comunicate con el Gremio para evaluar la situacion. Disculpa las molestias.</p>
                </div>

{% endblock %}