{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}
<div id="mws-error-container">
                	<div id="mws-error-code">
                		<h1>Error <span>403</span></h1>
                    </div>
                    <p id="mws-error-message">Acceso Prohibido. Tus credenciales no te habilitan para 
                        acceder a este recurso. Si crees que esto es un error, comunicate con el Gremio 
                    para evaluar tu situacion.</p>
                </div>

{% endblock %}