{% extends 'GremioAbmBundle::layout.html.twig' %}
{% block body %}
<div id="mws-error-container">
                	<div id="mws-error-code">
                		<h1>Error <span>404</span></h1>
                    </div>
                    <p id="mws-error-message">Lo Sentimos. El recurso al que estas queriendo acceder no esta disponible, si piensas 
                    que no deberias estas viendo este mensaje, comunicate con el Gremio para evaluar cual es el incoveniente. 
                    Te pedimos disculpas por las molestias ocasionadas.</p>
                </div>

{% endblock %}}