<div class="mws-report-container clearfix grid_8">
                	
                    <!-- Statistic Item -->
                	<a class="mws-report" href="javascript:void(0);">
                    	<!-- Statistic Icon (edit to change icon) -->
                    	<span class="mws-report-icon mws-ic ic-money-dollar"></span>
                        
                        <!-- Statistic Content -->
                        <span class="mws-report-content">
                        	<span class="mws-report-title">Margen Disponible</span>
                            <span class="mws-report-value">{{ margen }}</span>
                        </span>
                    </a>
</div>